
:root {
    --border-seperator-post: 219,219,219;
    --font-family-system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    --system-14-font-size:14px;

  }

*{
    color: #000000;
    font-family: var(--font-family-system);
    font-size: var(--system-14-font-size);
}
*:focus {
    outline: none;
}

a{
      text-decoration: none;
}

.navcontainer{
    height: 3rem;
}
.navbar{
    background-color: #ffffff;
    display: none;
    justify-content: space-between;
    border-bottom: 1px solid rgb(var(--border-seperator-post));
    position: fixed;
    width: 100%;
    top: 0;
    
}

.main{

width: 100%;
display: flex;
margin-left: auto;
margin-right: auto;

}

.left{
background: white;
height: 100%;
position: fixed;
z-index: 1;
overflow-x: hidden;
border-right: 1px solid rgb(var(--border-seperator-post));
top: 0;
}

.center{

    width: 66.666667%;

}

.right{

    width: 20%;
}

.flex{
display: flex;
}

.padding{
    padding: 17px 10px;
}




.stories{
    display: flex;
    padding-top: 2rem;
}




.post{
   border-bottom: 1px solid rgb(var(--border-seperator-post));
   
}
.post input{
    width: 100%;
}
.header_post{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

.header_post>div:nth-child(1){
display: flex;
align-items: center;
}

img{
    max-width: 100%;
}



.stories{
    width: 100%;
    display: flex;
    overflow-x: auto;

}

/* post */

.avatar{
    flex: 1 1 auto;
}

.avatar >div>img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.img{
    width: 50px;
    height: 50px;
}
.img img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}


.story{
    height: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1rem;
}

.story img {
    border-radius: 50%;
    width:4rem;
    height: 4rem;
  }
  

.username{
  text-align: center;
  font-size: 10px;
  }


.justify-content{
    justify-content: start;
}


.margin-5x{
    margin: 5px;
}

.margin-l-5x{
    margin-left: 5px;
}
.margin-t-3r{
    margin-top: 3rem;
}

.blue-a{
    color: #0095f6;
}
.none-border{
border-style: none;
}
.cursor-pointer{
    cursor: pointer;
}
.gray-color{
    color:rgba(107, 114, 128, 1);
}
.margin-t-long-rem{
    margin-top: 16rem;
}
.font-family{
    font-family:var(--font-family-system);
}
.border-bottom{border-bottom: 1px solid rgb(var(--border-seperator-post));}

.space:after {
    content: "\00a0";
}

.center-item{
    margin-left: auto;
    margin-right: auto;
}
.w{width: 45%;}
@media (max-width: 1024px) {
    .flex a{
        display: none;
    }
    .w{width: 67%;}
    .right{display: none;}
    .img{width: 28px;height: 28px;}
    .navcontainer{
        display: none;
    }
  

}


@media (max-width: 700px) {

    .navbar{display: flex;}
    .main{flex-direction: column-reverse;}

    .right{display: none;}

    .left{width: 100%;height: 4rem;bottom: 0;top:auto;}
    .item:nth-child(5),.item:nth-child(6){
        display: none;
    }

    .left >div:first-child{
        display: flex;
        flex-direction: inherit;
        justify-content: space-around;
    }
   
    .center{width: 100%;margin-left: 0;}
    .w{width: 100%;}
    .navcontainer{
        display: block;
    }

}