.main {

    /* 50 процентов от ширины просмотра окна */
    width: 60vw;
    padding: 1rem;
    /*  */
    margin-left: auto;
    /* отображение заблокировано */
    display: block;
    /* background-color: #0095f6; */
    margin-left: 0 auto;

    min-height: 100vh;
    height: auto;
    overflow-x: hidden;

    display: flex;
    justify-content: space-between;
}


.div-form {
    display: flex;
    flex-direction: column;
}