{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
    <link rel="icon" type="png" href="{% static 'generalApp/icons/inst_logo_plast_3D.png' %}">


    <!-- <link href="https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap" rel="stylesheet"> -->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">

    <link rel="stylesheet" href={% static "generalApp/css/base.css" %}>

    {% block extra_styles %}{% endblock %}
    
    <!-- <script src="script.js" defer></script> -->
</head>

<body>



    <div class="sidebar">
        <div class="upper-container">
            <img src="{% static 'generalApp/icons/InstagramLogo.png' %}" class="logo">
            <img src="{% static 'generalApp/icons/instaa.png' %}" class="logo2">

            <div class="link-flex">

                <!-- <a href=""> -->
                <div class="link" href={% url 'generalApp:url_home' %}>

                    <img src="{% if request.path == '/' %}
                        {% static 'generalApp/icons/home_black.png' %}
                        {% else %}
                        {% static 'generalApp/icons/home_white.png'  %}
                        {% endif %}" style="height: 2rem; margin-right: 0.6rem;">

                    <!-- <img  
                        src="home_white.png" 
                        style="height: 2rem; margin-right: 0.6rem;"> -->

                    <a href={% url 'generalApp:url_home' %}>Home</a>
                </div>

                <!-- </a> -->


                <div class="link">

                    <img src="{% static 'generalApp/icons/search.png' %}" style="height: 2rem; margin-right: 0.6rem;">

                    <a href="#" id="text">Search</a>
                </div>

                <div class="link">

                    <img src="{% static 'generalApp/icons/compass.png' %}" style="height: 2rem; margin-right: 0.6rem;">

                    <a href="#" id="text">Explore</a>
                </div>

                <div class="link">

                    <img src="{% static 'generalApp/icons/reels.png' %}"
                        style="height: 1.7rem; margin-right: 0.7rem; margin-left: 0.3rem;">
                    <a href="#" id="text">Reels</a>
                </div>

                <div class="link">
                    <img src="{% static 'generalApp/icons/direct.png' %}"
                        style="height: 1.7rem; margin-right: 0.7rem; margin-left: 0.3rem;">
                    <a href="#" id="text">Messages</a>
                </div>

                <div class="link">
                    <img src="{% static 'generalApp/icons/heart.png' %}"
                        style="height: 1.7rem; margin-right: 0.7rem; margin-left: 0.3rem;">
                    <a href="#" id="text">Notifications</a>
                </div>

                <div class="link">
                    <img src="{% static 'generalApp/icons/plus.png' %}" 
                    style="height: 1.6rem; margin-right: 0.7rem; margin-left: 0.4rem;">
                    <a href={% url 'generalApp:url_create_post' %} id="text">Create</a>
                </div>

                <div class="link">
                    <img src="{% static 'generalApp/icons/user.png' %}" 
                    style="height: 1.6rem; margin-right: 0.7rem; margin-left: 0.4rem">
                    <a href="#" id="text">Profile</a>
                </div>

            </div>

        </div>


        <div class="bottom-container">
            <div class="link">
                <img src="{% static 'generalApp/icons/more_black.png' %}" style="height: 1.6rem; margin-right: 0.6rem;">
                <a href="#" id="text">More</a>
            </div>
        </div>

    </div>

    {% block content %}
    {% endblock %}


    <div class="bottom-navbar">

        <div class="link">
            <img src="home_white.png" style="height: 2rem; margin-right: 0.6rem;">
            <a href="#" id="text">Home</a>
        </div>


        <div class="link">
            <img src="compass.png" style="height: 2rem; margin-right: 0.6rem;">
            <a href="#" id="text">Explore</a>
        </div>

        <div class="link">
            <img src="direct.png" style="height: 1.7rem; margin-right: 0.7rem; margin-left: 0.3rem;">
            <a href="#" id="text">Messages</a>
        </div>

        <div class="link">
            <img src="plus.png" style="height: 1.6rem; margin-right: 0.7rem; margin-left: 0.4rem;">
            <a href="#" id="text">Create</a>
        </div>

        <div class="link">
            <img src="heart.png" style="height: 1.7rem; margin-right: 0.7rem; margin-left: 0.3rem;">
            <a href="#" id="text">Notifications</a>
        </div>

        <div class="link">
            <img src="user.png" style="height: 1.6rem; margin-right: 0.7rem; margin-left: 0.4rem">
            <a href="#" id="text">Profile</a>
        </div>

    </div>

</body>

</html>