{% extends 'generalApp/base_layout.html' %}

{% load static %}

{% block extra_styles %}
<link rel="stylesheet" href={% static "generalApp/css/create_post.css" %}>
{% endblock %}


{% block content %}
<div class="main">
    <div class="div-create-form">
        <div class="header-form">
        <h2>Создание публикации</h2>
        </div>

        <div class="main-form">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <img class="icon" src="{% static 'generalApp/icons/gallery.png' %}" alt="gallery" style="width: 5rem;">
                {% for field in form %}
                {% if field.name == 'image' %}
                <div class="file-upload">
                    <input type="file" id="image-input" name="image" style="display: none;">
                    <div id="upload-button" class="photo-btn">Select photo</div>
                </div>
    
                {% else %}
                {{ field }}
    
                {% endif %}
                {% endfor %}
                <input type="submit" value="Publish">
            </form>
        </div>

    </div>
</div>
{% endblock %}