{% extends 'generalApp/base_layout.html' %}

{% load static %}

{% block extra_styles %}
<link rel="stylesheet" href={% static "generalApp/css/explore.css" %}>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
{% endblock %}

{% block content %}
<div class="container-exp">

    <h1 style="margin-top: 50px; margin-bottom: 50px;"><i>Discover new for yourself </i>🌟</h1>

    <div class="gallery">
        {% for post in explore_posts %}
        <div class="gallery-item" tabindex="0">

            <a href="{% url 'generalApp:view_post' post.pk %}" class="open_post_link" 
            data-post-id="{{ post.pk }}">

                <img src="{{ post.image.url }}" class="gallery-image" alt="">

                <div class="gallery-item-info">

                    <ul>
                        <li class="gallery-item-likes">
                            <span class="visually-hidden">Likes:</span>
                            <i
                                class="fas fa-heart" aria-hidden="true"></i> 56</li>
                        <li class="gallery-item-comments">
                            <span class="visually-hidden">Comments:</span>
                            <i
                                class="fas fa-comment" aria-hidden="true"></i> 2</li>
                    </ul>


                </div>
            </a>

        </div>
        {% endfor %}

    </div>

</div>

{% endblock %}