{% extends 'generalApp/base_layout.html' %}

{% load static %}

{% block extra_styles %}

{% endblock %}

{% block content %}

<div class="story-post-container">
    <!-- stories -->
    <div class="stories-container">
        <div class="story">
            <div class="gradient-border">
                <img src="{% static 'generalApp/icons/man62.png' %}" alt="">
            </div>
            <p>Username</p>
        </div>
        <div class="story">
            <div class="gradient-border">
                <img src="{% static 'generalApp/icons/man62.png' %}" alt="">
            </div>
            <p>Username</p>
        </div>


    </div>


    <!-- posts -->
    <div class="posts-container">

        {% for post in all_posts %}

        <div class="post">
            <div class="post-header">
                <div class="post-info-flex">

                    <img src="{{ post.author.userprofile.avatar.url }}" alt="Фото профиля" class="profile-pic"
                        data-url="{% url 'usersApp:user_prof' post.author.username %}">

                    <p class="obj-click" data-url="{% url 'usersApp:user_prof' post.author.username %}">{{ post.author}}
                    </p>
                    <ul>
                        <li class="list-time"> 8 hrs</li>
                    </ul>
                </div>
                <img class="post-icon open_more_link" src="{% static 'generalApp/icons/moree.png' %}"
                    style="height: 1.3rem;">
            </div>

            {% if post.image %}
            <img src="{{ post.image.url }}" alt="Post Image" class="post-img" />
            <!-- <img src="{{ post.image.url }}" alt="Пост изображение"> -->
            {% endif %}

            {% if post.video %}
            <video width="320" height="240" controls="false" class="post-img post-video">
                <source src="{{ post.video.url }}" type="video/mp4">
                Ваш браузер не поддерживает видео.
            </video>
            {% endif %}

            <div class="post-icons">
                <div class="post-icons-left">

                    <img class="post-icon img-like" src="{% if user in post.likes.all %}
                    {% static 'generalApp/icons/heart_red.png' %}
                    {% else %}
                    {% static 'generalApp/icons/heart.png' %}
                    {% endif%}" data-liked-src="{% static 'generalApp/icons/heart_red.png' %}"
                        data-unliked-src="{% static 'generalApp/icons/heart.png' %}" data-post-id="{{ post.id }}"
                        style="height: 1.4rem;">

                    <img class="post-icon" src="{% static 'generalApp/icons/speech-bubble.png' %}"
                        style="height: 1.5rem; width: 1.4rem;" alt="">
                    <img class="post-icon" src="{% static 'generalApp/icons/direct.png' %}" style="height: 1.4rem;"
                        alt="">
                </div>
                <img class="post-icon" src="{% static 'generalApp/icons/bookmark.png' %}" style="height: 1.4rem;"
                    alt="">
            </div>
            <p class="likes" style="font-size: 13px; font-weight: bold; margin-bottom: 10px;"><span
                    class="likes-count">{{ post.likes.count|add:350 }} </span> likes</p>
            {% if post.body %}
            <p class="caption" style="font-size: 13px; "><b>{{ post.author}}</b> {{post.body}}</p>
            {%endif%}
            <a href="{% url 'generalApp:view_post' post.pk %}" class="comments open_post_link"
                data-post-id="{{ post.pk }}">View all comments</a>
        </div>

        {% endfor %}

    </div>

</div>


<div class="profile-suggestions">
    <div class="profile-flex">

        <div class="profile-rec">

            <img class="obj-click" data-url="{% url 'usersApp:user_prof' request.user.username %}"
                src="{{ user.userprofile.avatar.url }}" alt="Profile Picture" />

            <div class="profile-rec-info">

                <strong class="obj-click"
                    data-url="{% url 'usersApp:user_prof' request.user.username %}">{{user.username}}</strong>

                <span class="profile-rec-info-name">{{ user.userprofile.name }}</span>
            </div>
        </div>
        <div class="switch">Switch</div>
    </div>
    <p style="font-size: 0.8rem; color: var(--light-grey)">
        Suggested For You
    </p>
    <div class="profile-flex">

        <div class="profile-rec">

            <img src="{% static 'generalApp/icons/man62.png' %}" alt="Profile Picture" />

            <div class="profile-rec-info">

                <strong>Username</strong>

                <span class="profile-rec-info-name">Name</span>
            </div>
        </div>
        <div class="switch">Follow</div>
    </div>
    <div class="profile-flex">

        <div class="profile-rec">

            <img src="{% static 'generalApp/icons/man62.png' %}" alt="Profile Picture" />

            <div class="profile-rec-info">

                <strong>Username</strong>

                <span class="profile-rec-info-name">Name</span>
            </div>
        </div>
        <div class="switch">Follow</div>
    </div>
    <ul class="profile-rec-list">
        <li>About</li>
        <li>Help</li>
        <li>Press</li>
        <li>API</li>
        <li>Jobs</li>
        <li>Privacy</li>
        <li>Terms</li>
        <li>Locations</li>
        <li>Language</li>
        <li>English</li>
    </ul>
    <p style="font-size: 0.5rem; color: var(--light-grey)">
        Meta Verified © 2023 INSTAGRAM FROM META
    </p>

</div>




{% endblock %}