{% extends 'generalApp/base_layout.html' %}

{% load static %}

{% block extra_styles %}
<link rel="stylesheet" href={% static "generalApp/css/post.css" %}>
{% endblock %}

{% block content %}
<div class="container" style="height: 82vh; width: 70vw; margin-top: 30px;">
    <div class="post-image">
        <img src="{{ post.image.url }}" alt="">
    </div>

    <div class="post-content">
        <div class="post-header">
            <div class="post-info-flex">
                <img src="{{ post.author.userprofile.avatar.url }}" alt="Фото профиля" class="profile-pic"
                    data-url="{% url 'usersApp:user_prof' post.author.username %}">
                <span class="username">{{post.author}}</span>
            </div>
            <img class="post-icon" src="{% static 'generalApp/icons/moree.png' %}" style="height: 1.3rem;">
        </div>

        <div class="comments-section">

            {% if post.body %}
            <div class="comment">
                <!-- <img src="avatar-placeholder.jpg" class="avatar" alt="Avatar"> -->
                <div>
                    <img src="{{ post.author.userprofile.avatar.url }}" alt="Фото профиля" class="avatar"
                        data-url="{% url 'usersApp:user_prof' post.author.username %}">
                </div>
                <div class="comment-info">
                    <!-- <span class="comment-username">pullheriba</span> -->
                    <span class="comment-username">{{post.author}}</span>
                    <!-- <div class="comment-text"></div> -->
                    {{post.body}}
                    <div style="color: #8e8e8e;">1d Reply</div>
                </div>
            </div>
            {% endif %}

            <div class="comment">
                <div>
                    <img src="{% static 'generalApp/bubu/p6.jpg' %}" class="avatar" alt="Avatar">
                </div>
                <div class="comment-info">
                    <span class="comment-username">pullheriba</span>
                    приехал на родину...
                    <div style="color: #8e8e8e;">1d Reply</div>
                </div>
            </div>

            <div class="comment">
                <div>
                    <img src="{% static 'generalApp/bubu/p4.jpg' %}" class="avatar" alt="Avatar">
                </div>
                <div class="comment-info">
                    <span class="comment-username">loriikris</span>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae optio perspiciatis iure nam
                    placeat magni quae? Ad eveniet, commodi et, fugiat quod ut quaerat velit earum harum quidem dolor
                    voluptatem?
                    <div style="color: #8e8e8e;">1d Reply</div>
                </div>
            </div>

            <div class="comment">
                <div class="comment-info" style="color: #8e8e8e;">
                    View hidden comments
                </div>
            </div>
        </div>

        <!-- <div class="post-actions">
            <button class="action-btn">❤️</button>
            <button class="action-btn">💬</button>
            <button class="action-btn">↗️</button>
        </div> -->

        <div class="post-icons">
            <div class="post-icons-left">
                <img class="post-icon" src="{% static 'generalApp/icons/heart.png' %}" alt="" style="height: 1.4rem;">
                <img class="post-icon" src="{% static 'generalApp/icons/speech-bubble.png' %}"
                    style="height: 1.5rem; width: 1.4rem;" alt="">
                <img class="post-icon" src="{% static 'generalApp/icons/direct.png' %}" style="height: 1.4rem;" alt="">
            </div>
            <img class="post-icon" src="{% static 'generalApp/icons/bookmark.png' %}" style="height: 1.4rem;" alt="">
        </div>
        <div style="font-size: 14px; margin-bottom: 5px;"><b>12,900 likes</b></div>
        <span style="font-size: 12px; color: grey;">23 hours ago</span>


        <form class="comment-form">
            <input type="text" class="comment-input" placeholder="Add a comment...">
            <button type="submit" class="post-btn">Post</button>
        </form>
    </div>
</div>
{% endblock %}